// Variables
@import 'resources/sass/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import "navbar";
@import "home";

body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
    background: #010101 url("/images/background/bg-crm.jpg") bottom left no-repeat;
    background-size: contain;
    height: 100vh;
}

.index-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.search-label {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-label:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #ffc60b;
    margin: 4px 8px;
}

.btn-outline-paw {
    color: #ffc60b;
    border-color: #ffc60b;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.btn-outline-paw:hover {
    color: #fff;
    background-color: rgba(255, 198, 11, 0.6);
    border-color: #ffc60b;
}
.btn-check:focus + .btn-outline-paw, .btn-outline-paw:focus {
    box-shadow: 0 0 0 0.25rem #a58008;
}
.btn-check:checked + .btn-outline-paw, .btn-check:active + .btn-outline-paw, .btn-outline-paw:active, .btn-outline-paw.active, .btn-outline-paw.dropdown-toggle.show {
    color: #fff;
    background-color: rgba(255, 198, 11, 0.6);
    border-color: #ffc60b;
}
.btn-check:checked + .btn-outline-paw:focus, .btn-check:active + .btn-outline-paw:focus, .btn-outline-paw:active:focus, .btn-outline-paw.active:focus, .btn-outline-paw.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem #a58008;
}

.table-title {
    font-size: 22px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #ffc60b;
}

.index-table-row {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
    border-top: 1px solid #ffc60b;
}
