// Variables
@import 'resources/sass/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import "navbar";
@import "home";

body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
    background: #010101 url("/images/background/bg-crm.jpg") bottom left no-repeat;
    background-size: contain;
}

html, body {
    min-height: 100%;
}

.index-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.index-title:hover, .index-title:focus {
    color: #ffc60b;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.search-label {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-label:after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #ffc60b;
    margin: 4px 8px;
}

.btn-outline-paw {
    color: #ffc60b;
    border-color: #ffc60b;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transition: ease-in-out 0.3s;
}

.btn-outline-paw:hover {
    color: #fff;
    background-color: rgba(255, 198, 11, 0.6);
    border-color: #ffc60b;
    transition: ease-in-out 0.3s;
}

.btn-check:focus + .btn-outline-paw, .btn-outline-paw:focus {
    box-shadow: 0 0 0 0.25rem #a58008;
}

.btn-check:checked + .btn-outline-paw, .btn-check:active + .btn-outline-paw, .btn-outline-paw:active, .btn-outline-paw.active, .btn-outline-paw.dropdown-toggle.show {
    color: #fff;
    background-color: rgba(255, 198, 11, 0.6);
    border-color: #ffc60b;
}

.btn-check:checked + .btn-outline-paw:focus, .btn-check:active + .btn-outline-paw:focus, .btn-outline-paw:active:focus, .btn-outline-paw.active:focus, .btn-outline-paw.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem #a58008;
}

.table-title {
    font-size: 18px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #ffc60b;
}

.index-table-row {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
    border-top: 1px solid #ffc60b;
}

.fa-chevron-right {
    height: 15px;
}

.svg-inline--fa {
    vertical-align: middle;
}

.action-btn {
    width: 40px;
    height: 33px;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
    transition: ease-in-out 0.3s;
}

.alert {
    color: white;
    border-color: #ffc60b;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 991px) {
    .pc-block {
        display: none;
    }
}

@media (max-width: 500px) {
    .index-title {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .mobile-block {
        display: none;
    }
}

.table-mobile {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
    border-color: #ffc60b !important;
}

.table-mobile span {
    color: #ffc60b;
}

.pagination {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    transition: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffc60b;
    background: transparent;
    border: none;
}

.page-link:hover {
    z-index: 2;
    color: #ffc60b;
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
}

.page-link:focus {
    z-index: 3;
    color: black;
    background-color: #ffc60b;
    border-color: transparent;
    border-radius: 15px;
    outline: 0;
    box-shadow: none;
}

.page-item:last-child .page-link {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

label {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.show-data {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.show-data span {
    color: #ffc60b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.gallery-block {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.gallery-image {
    border: 2px solid #ffc60b;
    border-radius: 15px;
}

.breadcrumb {
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #ffc60b;
}

.btn-outline-danger {
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transition: ease-in-out 0.3s;
}
