.navbar {
    background: rgb(38 38 38 / 49%);
}

.navbar .navbar-brand {
    line-height: 1;
    transition: ease-in-out 0.3s;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #ffc60b;
}

.navbar .dropdown-menu {
    background: rgb(16 16 16);
    transition: ease-in-out 0.3s;
    border: 1px solid #ffc107a1;
    position: relative;
}

.navbar .navbar-nav .nav-link {
    transition: ease-in-out 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .dropdown-item {
    transition: ease-in-out 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {
    background-image: none !important;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {
    background-color: transparent;
}

.navbar .navbar-nav .dropdown-menu > a:hover, .navbar .navbar-nav .dropdown-menu > a:focus {
    color: #ffc60b;
}

.navbar .navbar-nav .nav-user {
    color: #ffc60b;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    color: white;
}

.navbar .navbar-nav .nav-item:after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 2px;
    background-color: #ffc60b;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .navbar-nav .nav-item:hover:after {
    visibility: visible;
    width: 60%;
}
