// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'resources/sass/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("/images/background/bg-site.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

.slide-fade-enter-active {
    transition: all 0.4s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.4s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

@media (hover: hover) {
    ::-webkit-scrollbar-track {
        background: #030305;
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.auth-block {
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.08);
    width: 100%;
}

.auth-block input {
    padding: 10px 15px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    transition: 0.3s;
    color: #fff;
}

.auth-block input:focus {
    background-color: rgba(255, 255, 255, 0.11);
    color: #fff;
    border: 0;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
